body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(171, 207, 248, 0.747);
}
#main-container {
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    /* min-width: auto;
    max-width: 1200px; */
    width: 1290px;
    margin: 0 auto;
    padding: 5px;

}
#video-container {
    width: 800px;
    height: 450px;
    overflow: hidden;
    position: relative;
    outline: 3px solid rgb(0, 0, 0);
    background-color: black;
}

#video-player {
    width: 100%;
    height: 100%;
    display: none;
}

#controls-container {
    outline: 3px solid rgb(0, 0, 0);
    width: 800px;
    height: 80px;
    background-color: rgba(228, 223, 183, 0.904);
}
#play-button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 0px 10px 0px;
    background-color: rgb(255, 255, 255);
    outline: 1px solid black;
}
#instructions {
    width: 375px;
    height: 100px;
    outline: 5px solid rgb(0, 0, 0);
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: rgb(236, 56, 56);
}
#sliders-container {
    width: 370px;
    height: 300px;
    margin-top: 50px;
    outline: 5px solid rgb(0, 0, 0);
    padding: 10px;
    background-color: gray;
    color: white;
    font-weight: bold;
}

#leftslider{
    width: 175px;
    height: 300px;
    float: left;
}

#rightslider{
    width: 175px;
    height: 300px;
    float: right;
}

.vertical-slider {
    -webkit-appearance: none;
    appearance: none;
    /* height: 300px; */
    border-radius: 5px;
    background: #000000;
    outline: none;
    writing-mode: bt-lr;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    /* -webkit-appearance: slider-vertical; */
    border: 0;
}
